body {
    margin: 0px;
    padding: 0px;
}

* {
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    border-top: 1px solid rgb(85, 85, 85);
    border-bottom: 1px solid rgb(94, 58, 58);
    height: 70px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
}

.text {
    text-decoration: none;
    color: #515254;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    padding: 10px;
    display: inline-block;
}

.fa-regular {
    font-size: x-large;
    margin: 10px;
    display: inline-block;
    color: #3f4041;
}

.text:hover {
    text-decoration: underline;
}

.text i:hover {
    background-color: lightslategray;
    border-radius: 50%;
}

.icon {
    font-size: x-large;
    margin: 20px;
    display: inline-block;
    color: #3f4041;
}

.nav-box2 {
    display: flex;
    justify-content: right;
}

.fa-solid {
    font-size: x-large;
    color: #222323;
    margin: 20px;
}

.fa-regular {
    font-size: 27px;
    color: #222323;
    margin: 20px;
}

.mainscroll {
    overflow-y: scroll;
    width: 28%;
    height: 700px;

}

.icons {

    padding: 10px;
    border-bottom: 1px solid #c1bfbf;
}

.secondicons {

    padding: 10px;
    border-bottom: 1px solid #c1bfbf;
}

.thirdicons {
    padding: 10px;
    border-bottom: 1px solid #c1bfbf;
}

.fourthicons {
    padding: 10px;

}

.main-cards {
    position: relative;
}

.card1 {
    width: 340PX;
    height: 370PX;
    border: 1px solid rgb(188, 188, 188);
    position: absolute;
    right: 530px;
    bottom: 308px;
    border-radius: 10px;
}

.card1:hover {
    box-shadow: 3px 3px 8px gray;
}

img {
    width: 340px;
    height: 120px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.parentlogo {
    position: relative;
}

.logo {
    position: absolute;
    right: 20px;
    bottom: -25px;
    width: 70px;
    height: 70px;
    border-radius: 50px;
}

.card2 {
    width: 340PX;
    height: 370PX;
    border: 1px solid rgb(118, 188, 188);
    position: absolute;
    right: 160px;
    bottom: 308px;
    border-radius: 10px;
}

.card2:hover {
    box-shadow: 3px 3px 8px gray;
}

.parent {
    position: relative;
}

.icon1 {
    position: absolute;
    right: -8pX;
}

.icon2 {
    position: absolute;
    right: 50PX;
}
.text1{

}